@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "tailwindcss";
@config '../tailwind.config.js';

@layer components {
  .nav-links li a.active {
    border-bottom: 1px solid #22c55e;
    color: #22c55e;
  }

  .btn {
    align-items: center;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    height: 2.5rem;
    justify-content: center;
    outline: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition: all 150ms ease;
  }
  .btn-primary {
    background-color: #16a34a;
    color: #fff;
  }

  .btn-primary:hover {
    background-color: #22c55e;
  }

  .btn:disabled {
    cursor: default;
    opacity: 0.7;
  }

  .btn-light {
    background-color: transparent;
    color: inherit;
  }
}
